@import 'lucide-static/font/lucide.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.divider {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.disc-animation {
    animation: spin 10s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* Startposition */
    25% { transform: rotate(180deg); } /* Halbrotation */
    50% { transform: rotate(360deg); } /* Vollrotation */
    75% { transform: rotate(540deg); } /* Dreiviertelerotation */
    100% { transform: rotate(720deg); } /* Viertertelrotation */
}

.linear-wipe {
    text-align: center;
    background: linear-gradient(to right, #FF0000 0%, #FFFF00 17%, #00FF00 33%, #00FFFF 50%, #0000FF 67%, #FF00FF 83%, #FF0000 100%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 1s linear infinite;
    animation: shine 2s linear infinite;
}
@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

/* Audio player */
audio::-webkit-media-controls-panel {
    background-color: oklch(var(--b3));
}

audio::-webkit-media-controls-timeline-container {
    background-color: oklch(var(--n));
    border-radius: 50%;
}

audio::-webkit-media-controls-mute-button:hover {
    background-color: oklch(var(--n));
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
    background-color: oklch(var(--n));
    border-radius: 50%;
}

.icon {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 18px;
    height: 18px;
}

.icon-bar {
    width: 3px;
    height: 100%;
    background-color: orange;
    border-radius: 3px;
    content: '';
    transform-origin: bottom;
    animation: bounce 2.2s ease infinite alternate;
}

@keyframes bounce {
    10% {
        transform: scaleY(0.3); /* start by scaling to 30% */
    }

    30% {
        transform: scaleY(1); /* scale up to 100% */
    }

    60% {
        transform: scaleY(0.5); /* scale down to 50% */
    }

    80% {
        transform: scaleY(0.75); /* scale up to 75% */
    }

    100% {
        transform: scaleY(0.6); /* scale down to 60% */
    }
}

.icon-bar:nth-of-type(2) {
    animation-delay: -2.2s; /* Start at the end of animation */
}

.icon-bar:nth-of-type(3) {
    animation-delay: -3.7s; /* Start mid-way of return of animation */
}
