@import 'lucide-static/font/lucide.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.divider {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.disc-animation {
    animation: spin 10s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); } /* Startposition */
    25% { transform: rotate(180deg); } /* Halbrotation */
    50% { transform: rotate(360deg); } /* Vollrotation */
    75% { transform: rotate(540deg); } /* Dreiviertelerotation */
    100% { transform: rotate(720deg); } /* Viertertelrotation */
}

.linear-wipe {
    text-align: center;
    background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: shine 1s linear infinite;
    animation: shine 1s linear infinite;
}
@-webkit-keyframes shine {
    to {
        background-position: 200% center;
    }
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

/* Audio player */
audio::-webkit-media-controls-panel {
    background-color: oklch(var(--b3));
}

audio::-webkit-media-controls-timeline-container {
    background-color: oklch(var(--n));
    border-radius: 50%;
}

audio::-webkit-media-controls-mute-button:hover {
    background-color: oklch(var(--n));
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
    background-color: oklch(var(--n));
    border-radius: 50%;
}

